.tocListItem {
  position: relative;
  color: #034584;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tocListItem.active > a {
  position: relative;
  color: #034584;
  font-weight: bold;
}

.tocListItem::before {
  content: "";
  position: absolute;
  left: calc(-14rem / 16);
  height: 100%;
  border-left: calc(1rem / 16) solid #034584;
  width: calc(1rem / 16);
  box-sizing: border-box;
  top: calc(13rem / 16);
}

.tocListItem:last-child::before {
  height: 0rem;
}

.tocListItem::after {
  content: "";
  position: absolute;
  left: calc(-14rem / 16);
  top: calc(13rem / 16);
  border-top: calc(1rem / 16) solid #034584;
  width: calc(7rem / 16);
}
