.tocListItem {
  position: relative;
  color: #034584;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tocListItem.active > a {
  position: relative;
  color: #034584;
  font-weight: bold;
}

.tocListItem::before {
  content: "";
  position: absolute;
  left: -0.875rem;
  height: 100%;
  border-left: 0.0625rem solid #034584;
  width: 0.0625rem;
  box-sizing: border-box;
  top: 0.8125rem;
}

.tocListItem:last-child::before {
  height: 0rem;
}

.tocListItem::after {
  content: "";
  position: absolute;
  left: -0.875rem;
  top: 0.8125rem;
  border-top: 0.0625rem solid #034584;
  width: 0.4375rem;
}
