.atlasTopBanner {
  width: min(95%, 76rem);
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: auto;
}

.bannerWrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb_text {
  color: black;
}
