.atlasTopBanner {
  width: min(95%, 1216px);
  display: flex;
  align-items: center;
  padding: 16px;
  margin: auto;
}

.bannerWrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightbanner {
  justify-content: space-between;
  display: flex;
}

.map_button {
  padding-left: 2ex;
}

.breadcrumb_text {
  color: black;
}
