.linkOuterWrapper {
  max-width: min(100%, 37.5rem);
  min-width: 18.75rem;
  background: #e3f3ef;
  transition: 100ms ease-in;
  flex: 1 1 calc(250rem / 16);
  overflow: hidden;
  border-radius: calc(24rem / 16);
}

.linkOuterWrapper,
.linkOuterWrapper img {
  transition: 0.1s ease-out;
}

.linkOuterWrapper:hover,
.linkOuterWrapper:focus {
  box-shadow: calc(2rem / 16) calc(2rem / 16) 1rem rgba(0, 0, 0, 0.24);
}

.linkOuterWrapper:hover .linkImageWrapper img,
.linkOuterWrapper:focus .linkImageWrapper img {
  background-color: #c6e6df;
  opacity: 0.8;
}

.linkOuterWrapper:hover .linkTitle,
.linkOuterWrapper:focus .linkTitle {
  text-decoration: underline;
}

.linkInnerWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.linkImageWrapper {
  position: relative;
  justify-self: start;
  align-self: flex-start;
}

.linkText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: calc(20rem / 16) calc(25rem / 16) calc(20rem / 16) calc(25rem / 16);
}

.linkDateContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.date {
  margin-left: calc(3rem / 16);
}

.newlyUpdated {
  color: #033f85;
}

.innerDot {
  width: calc(8rem / 16) !important;
  height: calc(8rem / 16) !important;
  background-color: #000;
  border-radius: 100%;
}

.newlyUpdated .innerDot {
  background-color: #033f85;
}

.outerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1rem !important;
  height: 1rem !important;
  border: none;
  margin-right: calc(5rem / 16);
}

.newlyUpdated .outerCircle {
  border: calc(2rem / 16) solid #033f85;
}

.linkTitle {
  font-style: normal;
  font-weight: 700;
  font-size: calc(26rem / 16);
  line-height: calc(49rem / 16);
  letter-spacing: 0.01em;
  padding-top: calc(20rem / 16);
}

.linkIngress {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none !important;
}

@media screen and (min-width: 60rem) {
  .linkOuterWrapper {
    flex-basis: calc(400rem / 16);
  }

  .linkTitle {
    font-size: calc(36rem / 16);
  }

  .linkOuterWrapper.wide {
    max-width: 100%;
    margin-top: calc(20rem / 16);
    margin-bottom: calc(20rem / 16);
    background: #e6eef8;
    flex: 1 1 100%;
  }

  .linkOuterWrapper.wide .linkInnerWrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .linkOuterWrapper.wide .linkImageWrapper {
    display: flex;
    height: calc(350rem / 16);
    flex: 1;
  }

  .linkOuterWrapper.wide .linkText {
    flex: 1;
    height: calc(350rem / 16);
  }
}
