.atlasContent {
  margin: auto;
  display: flex;
}

.atlasContent img {
  width: 80%;
}

.atlasContent h1 {
  line-height: 65px;
}

.atlasContent p a {
  color: #034584;
}

.atlasLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: min(1216px, 95%);
}

@media screen and (min-width: 943px) {
  .atlasContent {
    width: min(95%, 1216px);
    margin: auto;
    padding: 16px;
    display: flex;
    max-width: 1216px;
  }
  .main_content {
    flex: 1 1 auto;
    width: 0px;
  }
}

@media screen and (min-width: 0) and (max-width: 942px) {
  .atlasContent {
    flex-direction: column;
  }
}

@media screen and (min-width: 0) and (max-width: 840px) {
  .main_content {
    width: 95%;
    margin: auto;
    padding: 16px;
  }

  .atlasLinksWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
