html,
body {
  font-family: Open Sans, Arial, Helvetica Neue, Helvetica, Roboto, sans-serif;
  color: #000000;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 2px solid #cddbe8;
  padding-bottom: 15px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

/* breadcrumbs */

.breadcrum {
  height: 46px;
}

li.MuiBreadcrumbs-li:last-child {
  font-weight: 700;
}

.ingress {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 1rem;
}
@media screen and (min-width: 0) and (max-width: 942px) {
  .main-content {
    max-width: 95%;
    padding: 16px;
    margin: auto;
  }
}

/* netlifycms bug fix */
[data-slate-editor] {
  -webkit-user-modify: read-write !important;
}
