.content_container {
  text-align: center;
  min-width: 420px;
}
.grid_wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100% - 64px) 1fr;
  column-gap: 0;
  min-height: 100vh;
  justify-items: center;
}
.grid_wrapper > * {
  grid-column: 2;
  background-color: #fff;
}
.full_bleed {
  width: 100%;
  grid-column: 1 / -1;
  background-color: #fff;
}

.full_bleed h2 {
  box-sizing: border-box;
  line-height: 1.4em;
  word-break: break-word;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  border-bottom: none;
  padding-bottom: 0px;
}

/* header */
.header_container {
  display: flex;
  width: 100%;
  max-width: 60rem;
  height: fit-content;
  min-width: 290px;
  padding: 32px 0px 32px 0px;
}

.header_links {
  font-size: 0.9rem;
  text-align: end;
  align-self: center;
  flex-grow: 1;
  padding-bottom: 10px;
}
.header_links div {
  display: inline;
}
.fsz_helper {
  margin-left: 2em;
  display: "inline";
}
.fsz_helper:hover {
  text-decoration: underline;
  cursor: pointer;
}
.fsz_helper:hover .fsz_helper__container {
  display: block;
}
.fsz_helper .fsz_helper__container {
  display: none;
  background: #dee8ef;
  font-weight: 500;
  font-size: 2em;
  position: absolute;
  color: #222;
  text-decoration: none;
  text-align: left;
  border: 2px solid #222;
  z-index: 2;
  width: 700px;
  padding: 1em 1.5em;
  line-height: 1.6em;
  left: 35%;
  top: 3em;
}

/* breadcrumbs */
.breadcrumb {
  color: #006492;
  margin: 0;
  padding: 0;
  text-align: left;
  margin: 16px 0;
}
.breadcrumb ol {
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  list-style-position: outside;
}
.breadcrumb li {
  margin: 0px;
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
}
.breadcrumb li:not(:first-child):before {
  content: " / ";
}
.breadcrumb li:last-child {
  color: #222;
}

/* banner-article */
.banner_article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 400px;
  background-image: url(../../public/img/background-frontpage.jpg);
  background-size: cover;
  background-repeat: initial;
  background-position: 50%;
  position: relative;
  padding: 0 64px;
  word-break: keep-all;
}
@media (max-width: 600px) {
  .banner_article {
    padding: 0 32px;
  }
}
.banner_article__content {
  max-width: 60rem;
}
.banner_article__content > * {
  width: 50%;
  word-break: keep-all;
}

@media (max-width: 700px) {
  .banner_article__content > * {
    width: 100%;
  }
  .banner_article {
    background-position: 20%;
  }
}

.banner_article p {
  padding: 32px 0 64px;
  margin: 0;
}
.banner_article__content a {
  color: #222;
  background-color: #f2f2f2;
  padding: 1.5em 2em;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* buttons */
.buttons_container {
  background-color: #f2f2f2;
  justify-content: center;
  display: flex;
  min-width: 400px;
  padding: 0 64px;
}
@media (max-width: 600px) {
  .buttons_container {
    justify-content: center;
    justify-items: center;
    display: flex;
    min-width: 400px;
    padding: 0 32px;
  }
}
.buttons {
  padding: 64px 0px;
  width: 100%;
  max-width: 60rem;
}
.buttons h2 {
  text-align: left;
  margin-bottom: 64px;
}
.buttons > .block_buttons {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
}
.buttons > .block_buttons > .block_button {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 24%;
  min-width: 225px;
}
.block_button a {
  position: relative;
  display: block;
  font-size: 1.4rem;
  padding: 5em 1em 1em;
  background-color: #fff;
  background-image: url(../../public/img/circle-green-light-cut.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 110px 110px;
  font-weight: 400;
}
.block_button a::after {
  right: 2em;
  top: 2.2em;
  font-size: 0.9rem;
  content: "";
  display: block;
  height: 20px;
  width: 30px;
  background-image: url(../../public/img/arrow_small.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: absolute;
}
.block_button a:hover {
  color: #fff;
  background-color: #00263d;
}
.block_button a:hover:after {
  background-image: url(../../public/img/arrow_small_white.svg);
}

/* breaking news */
.news_section__container {
  background-color: #f2f2f2;
  justify-content: center;
  display: flex;
  padding: 0 64px;
  min-width: 400px;
}

.news_section {
  padding: 64px 0px;
  width: 100%;
  max-width: 60rem;

  align-self: center;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 600px) {
  .news_section__container {
    padding: 0 32px;
  }
}
.news_section_title {
  width: 50%;
}
.news_section_title__link {
  box-sizing: border-box;
  display: block;
  text-align: right;
  align-self: center;
  width: 50%;
}
.news_section_title__link a {
  background: url(../../public/img/arrow_small.svg) 100% 0 no-repeat;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 2em;
  font-weight: 500;
  font-size: 0.9rem;
}
.news_section_article {
  width: 50%;
  min-height: min-content;
  align-self: top;
  align-content: left;
}
.news_section_article__image {
  width: 50%;
  /* height: 300px; */
}
@media (max-width: 750px) {
  .news_section_article {
    width: 100%;
  }
  .news_section_article__image {
    width: 100%;
  }
}
.news_section_article p {
  padding: 0px;
  width: 98%;
}

.news_section_article > h3 {
  margin-bottom: 8px;
}
.news_section_article__button {
  padding-top: 32px;
  width: 100%;
}
.news_section_article__button a {
  color: #fff;
  background: #00263d;
  padding: 1.5em 5em;
  margin: 1.5em 0;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* footer */
.footer_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #f2f2f2;
  background-color: #00263d;
  padding: 64px;
  align-content: center;
  flex-direction: column;
  min-width: 400px;
}
.footer__top {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
}
.footer__top > div {
  /* flex-basis: 33.33%; */
  margin-bottom: 64px;
  padding: 16px;
  white-space: nowrap;
}
@media (max-width: 666px) {
  .footer__top {
    justify-content: center;
  }
  .footer__top > div {
    margin-bottom: 16px;
  }
}
.footer__top > div > a {
  line-height: 1.5em;
  font-weight: bold;
}
.footer__top > div > a:hover {
  color: #7ebec7;
}
.footer__top > div:not(.footer__social) > a {
  color: #7ebec7;
  line-height: 1.5em;
  font-weight: normal;
}
.footer__social > a {
  list-style: none outside;
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}
.footer__bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  border-top: 1px solid #27485b;
  border-bottom: 1px solid #27485b;
}
.footer__bottom > div {
  padding: 16px;
}

@media (max-width: 840px) {
  .footer__bottom {
    justify-content: center;
  }
}

.footer__partner_l {
  text-align: flex-start;
}
.footer__partner_m {
  text-align: center;
}
.footer_partner_r {
  text-align: right;
}
/* misc */
.article_container {
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-flow: wrap row;
  align-items: top;
  justify-content: space-around;
  margin-bottom: 64px;
}
