.grid_wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100% - 64px) 1fr;
  column-gap: 0;
  min-height: 100vh;
  justify-items: center;
}
.grid_wrapper > * {
  grid-column: 2;
  background-color: #fff;
}
.full_bleed {
  width: 100%;
  grid-column: 1 / -1;
  background-color: #ffe6b5;
}
/* header */
.header_container {
  display: flex;
  width: 100%;
  max-width: min(1216px, 95%);
  height: fit-content;
  min-width: 400px;
  padding: 32px 0px 32px 0px;
  justify-content: space-between;
}

.header_links {
  text-align: end;
  align-self: center;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #034584;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  justify-self: end;
  max-width: 200px;
  white-space: nowrap;
}

.header_links div {
  display: inline;
}

/* banner-article */
.banner_article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 400px;
  /*background-image: url(../public/img/background-frontpage.jpg);*/
  background-size: cover;
  background-repeat: initial;
  background-position: 50%;
  position: relative;
  padding: 0 64px;
  word-break: keep-all;
}
@media (max-width: 600px) {
  .banner_article {
    padding: 0 32px;
  }
}
.banner_article__content {
  max-width: 60rem;
}
.banner_article__content > * {
  width: 70%;
  word-break: keep-all;
}

@media (max-width: 700px) {
  .banner_article__content > * {
    width: 100%;
  }
  .banner_article {
    background-position: 20%;
  }
}

.banner_article p {
  padding: 32px 0 64px;
  margin: 0;
}
.banner_article__content a {
  color: #222;
  background-color: #fff;
  padding: 1.5em 2em;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.banner_article__content h1 {
  line-height: 1.1;
  font-weight: 600;
  font-size: 3rem;
  color: #000;
}

/* buttons */
.buttons_container {
  background-color: #fff;
  justify-content: center;
  display: flex;
  min-width: 400px;
  padding: 0 64px;
}
@media (max-width: 600px) {
  .buttons_container {
    justify-content: center;
    justify-items: center;
    display: flex;
    min-width: 400px;
    padding: 0 32px;
  }
}
.buttons {
  padding: 64px 0px;
  width: 100%;
  max-width: 60rem;
}
.buttons h2 {
  text-align: left;
  margin-bottom: 64px;
}
.buttons > .block_buttons {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  justify-content: left;
}
.buttons > .block_buttons > .block_button {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 45%;
  /*width: 24%;*/
  min-width: 225px;
}
.block_button a {
  position: relative;
  display: block;
  font-size: 1.5rem;
  padding: 5em 1em 1em;
  background-color: #f5f5f3;
  background-image: url(../../public/img/circle-green-light-cut.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 110px 110px;
  font-weight: 600;
  color: #034584;
}
.block_button a::after {
  right: 2em;
  top: 2.2em;
  font-size: 0.9rem;
  content: "";
  display: block;
  height: 20px;
  width: 30px;
  background-image: url(../../public/img/arrow_small.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: absolute;
}
.block_button a:hover {
  color: #000;
  background-color: #e6e5e1;
}
.block_button a:hover:after {
  background-image: url(../../public/img/arrow_small.svg);
}

@media (max-width: 600px) {
  .block_buttons {
    flex-direction: column;
  }
  .buttons > .block_buttons > .block_button {
    width: 90%;
  }
}

/* footer */
.footer_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #f2f2f2;
  background-color: #22282b;
  padding: 64px;
  align-content: center;
  flex-direction: column;
  min-width: 400px;
}
.footer__top {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: space-around;
  width: 80%;
  max-width: 60rem;
}
.footer__top > div {
  margin-bottom: 64px;
  padding: 16px;
}

@media (max-width: 666px) {
  .footer__top {
    justify-content: center;
  }
  .footer__top > div {
    margin-bottom: 16px;
  }
}

.footer__top > div > a {
  line-height: 1.5em;
  font-weight: bold;
}
.footer__top > div > a:hover {
  color: #7ebec7;
}

.footer__bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
}
.footer__bottom > div {
  padding: 16px;
}

@media (max-width: 840px) {
  .footer__bottom {
    justify-content: center;
  }
}

.footer_mid {
  text-align: left;
  max-width: 20rem;
}

.footer_mid a {
  display: block;
  color: #fff;
  font-weight: bold;
}

.footer_logos {
  text-align: center;
}
