.kvalitetsregister table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 50px;
  line-height: 1.2;
}
.kvalitetsregister thead {
  box-shadow: 0 4px 5px -1px #00263d;
}
.kvalitetsregister thead th {
  font-size: 0.9rem;
  background-color: #00263d;
  color: white;
  height: 50px;
  position: sticky;
  z-index: 1;
  position: -webkit-sticky;
}
.kvalitetsregister tbody tr {
  box-shadow: 0 4px 5px -1px #dcdcdc;
}

.kvalitetsregister tbody .indicator:hover {
  background-color: rgba(126, 190, 199, 0.15);
  cursor: pointer;
}

.kvalitetsregister table {
  border-bottom: 1rem solid #00263d;
  border-radius: 0.5rem;
}

/******media upto 768*****/

@media All and (max-width: 768px) {
  .kvalitetsregister html {
    font-size: 13px;
  }
}

/******media  768 - 992*****/

@media All and (min-width: 769px) and (max-width: 992px) {
  .kvalitetsregister html {
    font-size: 14px;
  }
}
