.kvalitetsregister html {
  font-size: 16px;
}

.kvalitetsregister body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

.kvalitetsregister h1 {
  font-size: 2rem;
  font-weight: 500;
}

.kvalitetsregister h2 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.kvalitetsregister h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.kvalitetsregister h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
.kvalitetsregister h5 {
  font-size: 1rem;
  font-weight: 500;
}
.kvalitetsregister h6 {
  font-size: 0.75rem;
  font-weight: 500;
}

.kvalitetsregister table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 50px;
  line-height: 1.2;
}
.kvalitetsregister thead {
  box-shadow: 0 4px 5px -1px #00263d;
}
.kvalitetsregister thead th {
  font-size: 0.9rem;
  background-color: #00263d;
  color: white;
  height: 50px;
  position: sticky;
  z-index: 1;
  position: -webkit-sticky;
}
.kvalitetsregister th.quality_indicator {
  padding-left: 0.5rem;
}
.kvalitetsregister tbody tr {
  box-shadow: 0 4px 5px -1px #dcdcdc;
}

.kvalitetsregister tbody .selected_unit {
  background-color: rgba(126, 190, 199, 0.05);
}
.kvalitetsregister tbody .indicator:hover {
  background-color: rgba(126, 190, 199, 0.15);
  cursor: pointer;
}
.kvalitetsregister table {
  border-bottom: 1rem solid #00263d;
  border-radius: 0.5rem;
}

/******media upto 768*****/

@media All and (max-width: 768px) {
  .kvalitetsregister html {
    font-size: 13px;
  }
}

/******media  768 - 992*****/

@media All and (min-width: 769px) and (max-width: 992px) {
  .kvalitetsregister html {
    font-size: 14px;
  }
}
