.privacyWrapper {
  min-height: 60vh;
}

.privacyWrapper a {
  color: #3367d6;
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}

.privacyWrapper a:link:active,
.privacyWrapper a:link:focus,
.privacyWrapper a:link:hover {
  color: #29b5e8;
  text-decoration: none;
}

.privacyWrapper a:visited {
  color: #29b5e8;
  text-decoration: underline;
}

.container {
  padding: 0;
  width: 100%;
  min-width: 80vw;
  max-width: 60rem;
  margin-bottom: 64px;
}