.legendContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.legendUL {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.legendLI {
  display: flex;
  margin-right: 1.5rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.legendAnnualVar {
  display: flex;
  margin-right: 0.1875rem;
  justify-content: center;
  align-items: center;
}

.legendColorOuter {
  width: 1rem;
  height: 1rem;
  border-radius: 0.1875rem;
  display: flex;
  margin-right: 0.3125rem;
  justify-content: center;
  align-items: center;
}

.legendColorInner {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.125rem;
}
