.atlasContent {
  margin: auto;
  max-width: 100%;
}

.atlasContent img {
  width: 80%;
}

.atlasContent p a,
.atlasContent a {
  color: #034584;
}
@media screen and (min-width: 943px) {
  .atlasContent {
    width: min(95%, 1216px);
    padding: 16px;
  }
}
@media screen and (min-width: 0) and (max-width: 942px) {
  .atlasContent {
    flex-direction: column;
  }
}
