.container {
  margin: auto;
  padding: 0 1rem;
  width: min(76rem, 95%);
  margin-bottom: 4rem;
}

.article {
  width: 100%;
  align-self: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.article__title {
  width: 100%;
  display: flex;
}

.article__content {
  margin-block-start: 0;
  padding: 0 0 2rem 0;
  padding-left: 0;
  margin: 0;
}

.article__content a {
  color: #034584;
  text-decoration: revert;
}
