.container {
  margin: auto;
  padding: 0 16px;
  width: min(1216px, 95%);
  margin-bottom: 64px;
}

.article {
  width: 100%;
  align-self: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.article__title {
  width: 100%;
  display: flex;
}

.article__content {
  margin-block-start: 0;
  padding: 0 0 32px 0;
  padding-left: 0;
  margin: 0;
}

.article__content a {
  color: #034584;
  text-decoration: revert;
}
