.atlasLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2.5rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: min(76rem, 95%);
  gap: 2.5rem;
}
