.atlasLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: calc(40rem / 16) auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: min(76rem, 95%);
  gap: calc(40rem / 16);
}
