<?xml version="1.0" encoding="UTF-8" ?>
<AtlasInterface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.instantatlas.com/xml/atlas" classes="ia-report ia-selection-color ia-highlight-color ia-panel ia-panel-resize-btn ia-panel-header ia-datatip ia-tooltip button ia-button:hover ia-button:active ia-text ia-title-text ia-image ia-list-item:hover ia-list-item:active" edit-mode="Wireframe" name="IA6 General" schema-version="1.6" template="timeseries_advanced_sm::flash::html" template-version="6.7.1" width="800" xsi:schemaLocation="http://www.instantatlas.com/xml/atlas ../../../xml/atlas-ui-v1.4.xsd">
<Component classes="ia-panel ia-panel-header ia-explorer-item" editable="true" height="270" icon="$IAICON/48x48/text_code.png" id="dataExplorer" moveable="true" name="Data Explorer" removeable="true" resizeable="true" visible="true" width="195" x="5" y="70">
	<Description>The data explorer component of the report.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="Velg kart / pasientutvalg" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(dataExplorer)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="false" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="101" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="true" />
	<Property description="Hide the explorer on a selection?" id="hideOnSelection" name="Hide On Selection?" type="boolean" value="false" />
	<Property description="Should dates be displayed?" id="showDates" name="Show Dates?" type="boolean" value="true" />
	<Property description="Should dates be reversed?" id="reverseDates" name="Reverse Dates?" type="boolean" value="true" />
	<Property description="Should non-selected explorer branches be closed when a new one is opened?" id="closeBranchesOnSelection" name="Close Explorer Branches On Selection?" type="boolean" value="true" />
</Component>
<Component classes="ia-panel ia-panel-header ia-map-toolbar ia-map-labels ia-map-copyright ia-map-selection-opacity ia-map-highlight-opacity" editable="true" height="592" icon="$IAICON/48x48/document_earth.png" id="map" moveable="true" name="Map" removeable="true" resizeable="true" visible="true" width="370" x="140" y="4">
	<Description>The map component of the report.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="${themeName(&apos; &gt;&gt; &apos;)} ${notEmpty(themeName, &apos; &gt;&gt; &apos;)} ${indicatorName} ${notEmpty(date, &apos; &gt;&gt;  &apos;)}${date}${notEmpty(date, )} ${notEmpty(filterName, &apos; *** &apos;)} ${filterValue}" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(map)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="2" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Can it be exported to an image?" id="isExportable" name="Exportable?" type="boolean" value="false" />
	<Property description="Any map copyright text" id="copyrightText" name="Map Copyright" type="string" value="© SKDE" />
	<Property description="The path to any background images" id="backgroundMappingPath" name="Background Folder" type="string" value="./" />
	<Property description="The maximum map zoom in map units (eg. Max Zoom Allowed:500000, Min Zoom Allowed:10000000). When using google maps use zoom levels 0 - 21 (eg. Max Zoom Allowed:15, Min Zoom Allowed:5)" id="maxZoomAllowed" name="Max Zoom Allowed" type="integer" value="-1" />
	<Property description="The minimum map zoom in map units (eg. Max Zoom Allowed:500000, Min Zoom Allowed:10000000). When using google maps use zoom levels 0 - 21 (eg. Max Zoom Allowed:15, Min Zoom Allowed:5)" id="minZoomAllowed" name="Min Zoom Allowed" type="integer" value="-1" />
	<Property description="The data tip" id="tip" name="Tip" type="string" value="${featureName}: ${indicatorValue}" />
	<Property description="The clear button text - leave empty to remove button" id="clearButtonText" name="Clear Button Text" type="string" value="" />
	<Property description="The filter button text - leave empty to remove button" id="filterButtonText" name="Filter Button Text" type="string" value="" />
	<Property description="Google maps toolbar &apos;Greyscale&apos; text" id="googleGreyscaleText" name="Google Greyscale Text" type="string" value="Greyscale" />
	<Property description="Google maps toolbar &apos;Off&apos; text" id="googleOffText" name="Google Off Text" type="string" value="x" />
	<Property description="Include the search tool" id="includeSearchTool" name="Include Search Tool?" type="boolean" value="false" />
</Component>
<Component classes="ia-panel ia-panel-header ia-chart" editable="true" height="242" icon="$IAICON/48x48/column-chart.png" id="barChart" moveable="true" name="Bar Chart" removeable="true" resizeable="true" visible="true" width="282" x="515" y="4">
	<Description>The bar chart component of the report.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="Aldersjustert rate (forbruksrate) pr. 100 000 barn i alder 0-16 år. Snitt i perioden 2011-2014. Søylediagram, med 95% konfidensintervall" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(barChart)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="3" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Can it be exported to an image?" id="isExportable" name="Exportable?" type="boolean" value="true" />
	<Property description="The data for the chart. Used to set bar heights. Bar colours are set by the legend" id="data" name="Data" type="string" value="value" />
	<Property description="The data tip" id="tip" name="Tip" type="string" value="${featureName}: ${indicatorValue}${notEmpty(lowerLimit, &apos;&lt;br/&gt;LL: &apos;)}${lowerLimit}${notEmpty(upperLimit, &apos;&lt;br/&gt;UL: &apos;)}${upperLimit}" />
	<Property description="Should the comparison data be displayed if available?" id="showComparison" name="Always Show Comparison Data" type="boolean" value="false" />
	<Property choices="horizontal;vertical" description="The orientation of the chart" id="orientation" name="Orientation" type="string" value="vertical" />
	<Property choices="ascending;descending" description="The sort direction of the data" id="sortDirection" name="Sort Direction" type="string" value="ascending" />
	<Property description="Should the chart data be constrained to the current data range?" id="useTightLabels" name="Match Axis to Data?" type="boolean" value="false" />
	<Property description="Should the chart bars be drawn from zero?" id="drawBarsFromZero" name="Draw bars from zero?" type="boolean" value="true" />
	<Property description="The label for the x-axis" id="xAxisTitle" name="X-Axis Label" type="string" value="Boområder" />
	<Property description="The label for the y-axis" id="yAxisTitle" name="Y-Axis Label" type="string" value="" />
	<Property description="Use the fixed values for the chart data axis?" id="useFixedValues" name="Use Fixed Values?" type="boolean" value="false" />
	<Property description="A fixed minimum value for the chart data axis" id="fixedMinValue" name="Fixed Minimum Value" type="float" value="0.0" />
	<Property description="A fixed maximum value for the chart data axis" id="fixedMaxValue" name="Fixed Maximum Value" type="float" value="0.0" />
	<Property description="A custom property containing a fixed minimum value for the chart data axis" id="minChartValue" name="Fixed Minimum Axis Value Property" type="string" value="0,0" />
	<Property description="A custom property containing a fixed maximum value for the chart data axis" id="maxChartValue" name="Fixed Maximum Axis Value Property" type="string" value="maxChartValue" />
</Component>
<Component classes="ia-panel ia-panel-header" editable="true" height="133" icon="$IAICON/48x48/pie-chart.png" id="pieChart" moveable="true" name="Pie Chart" removeable="true" resizeable="true" visible="true" width="130" x="5" y="462">
	<Description>The pie chart component of the report.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(pieChart)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="5" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Can it be exported to an image?" id="isExportable" name="Exportable?" type="boolean" value="true" />
	<Property description="The text that appears when the chart data is unavailable" id="notAvailableText" name="Not Available Text" type="string" value="Not Available" />
	<Property description="The data tip" id="tip" name="Tip" type="string" value="${name}: ${percentage}% (${value})" />
</Component>
<Component classes="ia-panel ia-panel-header ia-layer-list-item ia-legend-item" editable="true" height="155" icon="$IAICON/48x48/form_blue.png" id="legend" moveable="true" name="Legend" removeable="true" resizeable="true" visible="true" width="130" x="5" y="230">
	<Description>The list of layers.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="Inndeling i kategorier" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(legend)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="12" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Should the legend editor button be displayed." id="showLegendEditorButton" name="Show Legend Editor Button?" type="boolean" value="false" />
</Component>
<Table classes="ia-panel ia-panel-header ia-table-toolbar ia-table-header ia-table-cell ia-table-cell-numeric ia-table-cell-categoric ia-table-row-even ia-table-row-odd" editable="true" height="347" icon="$IAICON/48x48/table_sql.png" id="table" moveable="true" name="Table" removeable="true" resizeable="true" visible="true" width="282" x="515" y="250">
	<Description>The table component of the report.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(table)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="1" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Can it be exported?" id="isExportable" name="Exportable?" type="boolean" value="true" />
	<Property description="The name of the table column which will be sorted" id="sortColumnName" name="Sort Column Name" type="string" value="value" />
	<Property description="Should the end user be allowed to sort columns" id="allowUserSorting" name="Allow User Sorting?" type="boolean" value="true" />
	<Property choices="Ascending;Descending" description="Sort the table data ascending / descending" id="sortDirection" name="Sort Direction" type="string" value="Ascending" />
	<Property description="Zoom to feature in map on selection?" id="zoomOnSelection" name="Zoom On Selection?" type="boolean" value="false" />
	<Property description="The clear button text - leave empty to remove button" id="clearButtonText" name="Clear Button Text" type="string" value="" />
	<Property description="The filter button text - leave empty to remove button" id="filterButtonText" name="Filter Button Text" type="string" value="" />
	<Property description="Show the legend colour in the table?" id="showLegendColor" name="Show Legend Colour" type="boolean" value="true" />
	<Column alias="Bo/Opptaksområde" name="name" width="0.4" />
	<Column alias="Rate" name="value" width="0.2" />
	<Column alias="Innbyggere" name="Innbyggere" width="0.2" />
	<Column alias="Antall" name="Opphold" width="0.2" />
</Table>
<Table classes="ia-panel ia-panel-header ia-table-header ia-table-cell ia-table-cell-numeric ia-table-cell-categoric ia-table-row-even ia-table-row-odd" editable="true" height="70" icon="$IAICON/48x48/table_sql.png" id="comparisonTable" moveable="true" name="Comparison Table" removeable="true" resizeable="true" visible="true" width="130" x="5" y="389">
	<Description>The comparison that shows the user information about comparison data.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(comparisonTable)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="6" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="Can it be exported?" id="isExportable" name="Exportable?" type="boolean" value="false" />
	<Property description="The name of the table column which will be sorted" id="sortColumnName" name="Sort Column Name" type="string" value="name" />
	<Property description="Should the end user be allowed to sort columns" id="allowUserSorting" name="Allow User Sorting?" type="boolean" value="false" />
	<Property choices="Ascending;Descending" description="Sort the table data ascending / descending" id="sortDirection" name="Sort Direction" type="string" value="Ascending" />
	<Property description="The id of the colour scheme to use" id="colorSchemeId" name="Colour Scheme Name" type="string" value="categoricScheme6" />
	<Property description="Show the legend colour in the table?" id="showLegendColor" name="Show Legend Colour" type="boolean" value="true" />
	<Column alias="Boområde, som referanse" name="name" width="0.65" />
	<Column alias="Rate" name="value" width="0.35" />
</Table>
<Component classes="ia-panel ia-panel-header ia-menubar" editable="true" height="25" icon="$IAICON/48x48/note.png" id="menuBar" moveable="true" name="Menu Bar" removeable="true" resizeable="true" visible="true" width="130" x="5" y="103">
	<Description>Menu Bar.</Description>
	<Property description="The title" id="title" name="Title" type="string" value="" />
	<Property description="Is it visible at start up? Use &apos;javascript:iaToggle(menuBar)&apos; to toggle visibility." id="visible" name="Visible At Startup?" type="boolean" value="true" />
	<Property description="The z-index" id="zIndex" name="Z-Index" type="integer" value="10" />
	<Property description="Hidden when the mouse is clicked outside" id="isPopUp" name="PopUp Window?" type="boolean" value="false" />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem1" name="Menu Item 1" type="string" value="Hjelp" />
	<Property description="The function for above menu item" id="menuFunc1" name="Menu Function 1" type="string" value="/helseatlas/files/hjelp_helseatlas_barn.pdf " />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem2" name="Menu Item 2" type="string" value="Definisjoner" />
	<Property description="The function for above menu item" id="menuFunc2" name="Menu Function 2" type="string" value="/helseatlas/files/definisjoner.pdf " />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem3" name="Menu Item 3" type="string" value="Del" />
	<Property description="The function for above menu item" id="menuFunc3" name="Menu Function 3" type="string" value="javascript:iaToggleShare()" />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem4" name="Menu Item 4" type="string" value="" />
	<Property description="The function for above menu item" id="menuFunc4" name="Menu Function 4" type="string" value="" />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem5" name="Menu Item 5" type="string" value="" />
	<Property description="The function for above menu item" id="menuFunc5" name="Menu Function 5" type="string" value="" />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem6" name="Menu Item 6" type="string" value="" />
	<Property description="The function for above menu item" id="menuFunc6" name="Menu Function 6" type="string" value="" />
	<Property description="The text for a menu item - leave blank to exclude" id="menuItem7" name="Menu Item 7" type="string" value="" />
	<Property description="The function for above menu item" id="menuFunc7" name="Menu Function 7" type="string" value="" />
</Component>
<PropertyGroup id="selection" name="Selection">
	<Property choices="single;multiple" description="The selection mode" id="selectionMode" name="Selection Mode" type="string" value="multiple" />
</PropertyGroup>
<PropertyGroup id="exportText" name="Export Text">
	<Property description="The text displayed for saving exported images" id="saveImageText" name="Save Image Text" type="string" value="Right click to save image..." />
</PropertyGroup>
<PropertyGroup id="shareText" name="Share Text">
	<Property description="The text displayed for emailing the report" id="emailReportText" name="Email Report Text" type="string" value="Email report - copy and paste link into email" />
	<Property description="The text displayed for embedding the report" id="embedReportText" name="Embed Report Text" type="string" value="Embed report - copy and paste html into web page" />
</PropertyGroup>
<PropertyGroup id="dataFormatting" name="Data Formatting">
	<Property choices="none;en;de;es;fr;it;nl;be;ca;cs;da;el;et;fi;hr;hu;is;lt;lv;mk;no;pl;pt;ro;ru;sk;sl;sq;sr;sv;tr;uk" description="The locale used for formatting numbers, e.g. &apos;en&apos; for English, &apos;es&apos; for Spanish, &apos;fr&apos; for French" id="locale" name="Locale" type="string" value="no" />
	<Property description="The text displayed for features that have &apos;No Data&apos; or null values" id="noDataValue" name="No Data Value" type="string" value="No Data" />
	<Property description="The default number of decimal places to be shown for data values. Set to -1 to maintain raw value." id="ndecimal" name="Decimal Places For Data Values" type="integer" value="0" />
</PropertyGroup>
<PropertyGroup id="thematics" name="Custom Legend Properties">
	<Property description="No data colour used in legend" id="noDataColor" name="No Data Colour" type="colour" value="#ffffff" />
	<Property description="The data for the legend" id="data" name="Data" type="string" value="value" />
	<Property choices="circle;diamond;star;triangle up;triangle down;triangle right;triangle left;arrow up;arrow down;arrow right;arrow left;circle;plus;x" description="The symbol to use for point data" id="symbolShape" name="Point Symbol Shape" type="string" value="circle" />
	<Property description="The smallest size that will be used when displaying proportional symbols" id="minSymbolSize" name="Point Symbol Min Size" type="integer" value="15" />
	<Property description="The largest size that will be used when displaying proportional symbols" id="maxSymbolSize" name="Point Symbol Max Size" type="integer" value="50" />
	<Property description="The smallest size that will be used when displaying lines" id="minLineSize" name="Min Line Width" type="integer" value="2" />
	<Property description="The largest size that will be used when displaying lines" id="maxLineSize" name="Max Line Width" type="integer" value="6" />
	<Property choices="equalInterval;quantile;natural;continuous;standardDeviation" description="The legend classification type" id="legendClassifier" name="Classification Type" type="string" value="natural" />
	<Property description="The legend breaks - a semi-colon delimited list of values of the form &apos;0;10;20;30&apos;" id="legendBreaks" name="Legend Breaks" value="" />
	<Property description="The legend labels - a semi-colon delimited list of labels of the form &apos;low;medium;high&apos;. Relies on &apos;Legend Breaks&apos; being set" id="legendLabels" name="Legend Labels" value="" />
	<Property description="The custom classifier property value contains one of &apos;equalInterval&apos;, &apos;quantile&apos;, &apos;natural&apos;, &apos;continuous&apos; or &apos;standardDeviation&apos;" id="customClassifierKey" name="Custom Classifier Property Id" value="customClassifier" />
	<Property description="The custom colours property value contains a semi-colon delimited list of colours of the form &apos;#ffff00;rgb(155,234,100);#0000ff&apos;" id="customColoursKey" name="Custom Colours Property Id" value="customColours" />
	<Property description="The custom breaks property value contains a semi-colon delimited list of values of the form &apos;0;10;20;80&apos;" id="customBreaksKey" name="Custom Breaks Property Id" value="customBreaks" />
	<Property description="The custom labels property value contains a  semi-colon delimited list of labels of the form &apos;high;medium;low&apos;" id="customLabelsKey" name="Custom Labels Property Id" value="customLabels" />
	<Property description="The custom palette property value contains a reference to a palettes name." id="customPaletteKey" name="Custom Palette Property Id" value="customPalette" />
	<Property description="The &apos;Equal Interval&apos; text" id="equalInterval" name="Equal Interval Text" type="string" value="" />
	<Property description="The &apos;Quantile&apos; text" id="quantile" name="Quantile Text" type="string" value="" />
	<Property description="The &apos;Natural Break&apos; text" id="natural" name="Natural Break Text" type="string" value="Natural Breaks" />
	<Property description="The &apos;Continuous&apos; text" id="continuous" name="Continuous Text" type="string" value="" />
	<Property description="The &apos;Standard Deviation&apos; text" id="standardDeviation" name="Standard Deviation Text" type="string" value="" />
	<Property description="The size of the interval to use for standard deviation" id="sdSize" name="Standard Deviation Interval" type="integer" value="1" />
	<Property description="The text for band 1 of the standard deviation classification" id="sd1" name="Band 1 Text" type="string" value="&gt; 2 SD below mean" />
	<Property description="The text for band 2 of the standard deviation classification" id="sd2" name="Band 2 Text" type="string" value="1 - 2 SD below mean" />
	<Property description="The text for band 3 of the standard deviation classification" id="sd3" name="Band 3 Text" type="string" value="0 - 1 SD below mean" />
	<Property description="The text for band 4 of the standard deviation classification" id="sd4" name="Band 4 Text" type="string" value="0 - 1 SD above mean" />
	<Property description="The text for band 5 of the standard deviation classification" id="sd5" name="Band 5 Text" type="string" value="1 - 2 SD above mean" />
	<Property description="The text for band 6 of the standard deviation classification" id="sd6" name="Band 6 Text" type="string" value="&gt; 2 SD above mean" />
</PropertyGroup>
<PropertyGroup id="legendEditor" name="Legend Editor">
	<Property description="Should the legend type panel be displayed?" id="showLegendTypePanel" name="Show Legend Type Panel?" type="boolean" value="true" />
	<Property description="Should the legend tools be displayed?" id="showLegendTools" name="Show Legend Tools?" type="boolean" value="true" />
	<Property description="Should the palette panel be displayed?" id="showPalettePanel" name="Show Palette Panel?" type="boolean" value="true" />
	<Property description="Should the size panel be displayed?" id="showSizePanel" name="Show Size Panel?" type="boolean" value="true" />
</PropertyGroup>
<Button editable="true" height="25" href="javascript:iaToggle(dataExplorer)" id="dataButton" moveable="true" removeable="true" resizeable="true" text="Velg kart / pasientutvalg" tooltip="" width="130" x="5" y="70" />
<MapPalettes classes="4" default="Sequential Blue" maxclasses="4">
	<ColourRange id="Sequential Blue">
		<Colour>#dae6f2</Colour>
		<Colour>#95bde6</Colour>
		<Colour>#568bbf</Colour>
		<Colour>#00509e</Colour>
	</ColourRange>
	<ColourScheme id="categoricScheme1">
		<ColourMatch for="__next">#8dd3c7</ColourMatch>
		<ColourMatch for="__next">#ffffbc</ColourMatch>
		<ColourMatch for="__next">#bebada</ColourMatch>
		<ColourMatch for="__next">#fb8072</ColourMatch>
		<ColourMatch for="__next">#80b1d3</ColourMatch>
		<ColourMatch for="__next">#fdb462</ColourMatch>
		<ColourMatch for="__next">#b3de69</ColourMatch>
		<ColourMatch for="__next">#fccdef</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme2">
		<ColourMatch for="__next">#fbb3ad</ColourMatch>
		<ColourMatch for="__next">#b2cce2</ColourMatch>
		<ColourMatch for="__next">#ccebc5</ColourMatch>
		<ColourMatch for="__next">#decbe4</ColourMatch>
		<ColourMatch for="__next">#fed9a5</ColourMatch>
		<ColourMatch for="__next">#ffffcc</ColourMatch>
		<ColourMatch for="__next">#e4d7bc</ColourMatch>
		<ColourMatch for="__next">#fddaec</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme3">
		<ColourMatch for="__next">#e31a1c</ColourMatch>
		<ColourMatch for="__next">#377db8</ColourMatch>
		<ColourMatch for="__next">#4daf4a</ColourMatch>
		<ColourMatch for="__next">#984ea3</ColourMatch>
		<ColourMatch for="__next">#ff7f00</ColourMatch>
		<ColourMatch for="__next">#ffff33</ColourMatch>
		<ColourMatch for="__next">#a65628</ColourMatch>
		<ColourMatch for="__next">#f781bf</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme4">
		<ColourMatch for="__next">#b3e2cd</ColourMatch>
		<ColourMatch for="__next">#fdcdac</ColourMatch>
		<ColourMatch for="__next">#cbd5a8</ColourMatch>
		<ColourMatch for="__next">#f4cae4</ColourMatch>
		<ColourMatch for="__next">#e6f5c9</ColourMatch>
		<ColourMatch for="__next">#fff2ae</ColourMatch>
		<ColourMatch for="__next">#f1e2cc</ColourMatch>
		<ColourMatch for="__next">#cccccc</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme5">
		<ColourMatch for="__next">#66c2a5</ColourMatch>
		<ColourMatch for="__next">#fc8d62</ColourMatch>
		<ColourMatch for="__next">#8da0cb</ColourMatch>
		<ColourMatch for="__next">#e78ac3</ColourMatch>
		<ColourMatch for="__next">#a6d854</ColourMatch>
		<ColourMatch for="__next">#ffd92f</ColourMatch>
		<ColourMatch for="__next">#e5c494</ColourMatch>
		<ColourMatch for="__next">#b3b3b3</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme6">
		<ColourMatch for="__next">#1b9e77</ColourMatch>
		<ColourMatch for="__next">#d95f02</ColourMatch>
		<ColourMatch for="__next">#7570b3</ColourMatch>
		<ColourMatch for="__next">#e7298a</ColourMatch>
		<ColourMatch for="__next">#66a61e</ColourMatch>
		<ColourMatch for="__next">#e6ab02</ColourMatch>
		<ColourMatch for="__next">#a6761d</ColourMatch>
		<ColourMatch for="__next">#666666</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme7">
		<ColourMatch for="__next">#a6cee3</ColourMatch>
		<ColourMatch for="__next">#1f77b4</ColourMatch>
		<ColourMatch for="__next">#b2df8a</ColourMatch>
		<ColourMatch for="__next">#33a02c</ColourMatch>
		<ColourMatch for="__next">#fb9a99</ColourMatch>
		<ColourMatch for="__next">#e31a1c</ColourMatch>
		<ColourMatch for="__next">#fdbf6f</ColourMatch>
		<ColourMatch for="__next">#ff7f00</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme8">
		<ColourMatch for="__next">#7fc97f</ColourMatch>
		<ColourMatch for="__next">#beaed4</ColourMatch>
		<ColourMatch for="__next">#fdc086</ColourMatch>
		<ColourMatch for="__next">#ffff99</ColourMatch>
		<ColourMatch for="__next">#386cb0</ColourMatch>
		<ColourMatch for="__next">#f0027f</ColourMatch>
		<ColourMatch for="__next">#bf5b17</ColourMatch>
		<ColourMatch for="__next">#666666</ColourMatch>
	</ColourScheme>
</MapPalettes>
<SubstitutionVariables>
	<Variable description="The name of the geography" id="geogName" />
	<Variable description="The name of the map theme" id="themeName" />
	<Variable description="The name of the map indicator" id="indicatorName" />
	<Variable description="The name of the map indicator&apos;s date (if it has one)" id="date" />
	<Variable description="The name of the filter" id="filterName" />
	<Variable description="The value of the filter" id="filterValue" />
	<Variable description="The selected feature name" id="selectedFeature" />
	<Variable description="The highlighted feature name" id="featureName" />
	<Variable description="The highlighted feature map indicator value" id="indicatorValue" />
	<Variable description="The lower limit of the map indicator" id="lowerLimit" />
	<Variable description="The upper limit of the map indicator" id="upperLimit" />
</SubstitutionVariables>
<Button editable="true" height="15" href="/helseatlas/files/rapport_digitalt.pdf " id="___user_extra_36" moveable="true" removeable="true" resizeable="true" target="_blank" text="Last ned Rapport" tooltip="" width="120" x="5" y="158" />
<Button editable="true" height="15" href="/helseatlas/statisk/om/" id="___user_extra_39" moveable="true" removeable="true" resizeable="true" target="_parent" text="Om Helseatlas.no" tooltip="" width="120" x="5" y="137" />
<Button editable="true" height="15" href="/helseatlas/v1/barn" id="___user_extra_37" moveable="true" removeable="true" resizeable="true" target="_parent" text="Hovedfunn" tooltip="" width="120" x="5" y="179" />
<Button editable="true" height="15" href="/helseatlas/files/data_barn_helseatlas_2015.xlsx " id="___user_extra_38" moveable="true" removeable="true" resizeable="true" target="_parent" text="Last ned Data" tooltip="" width="120" x="5" y="200" />
<Text href="/helseatlas/v1/barn" anchor="start" editable="true" fill="#00509E" font-family="Calibri" font-size="30.0" font-style="normal" font-weight="bold" id="___user_extra_42" moveable="true" removeable="true" resizeable="true" rotate="0" target="_parent" wrap-width="120" x="6" y="10">Barn 0–16 år</Text>
<Image anchor="left" editable="true" height="15" id="___user_extra_43" moveable="true" removeable="true" rescale="true" resizeable="true" src="./___user_extra_43.jpg" target="_self" width="70" x="429" y="549" />
</AtlasInterface>