.carouselWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin: 1.25rem;
  background-color: #ffffff;
  border: calc(1rem / 16) solid #d9d9d9;
  border-radius: calc(3rem / 16);
  padding: 1.875rem 1.25rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.625rem 1.25rem 0.625rem;
  width: 95%;
  overflow: auto;
}

.selectionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #033f85;
  border: none;
  background: none;
  font-weight: 400;
  font-size: calc(18rem / 16);
  line-height: 1.5rem;
  text-decoration-line: underline;
  cursor: pointer;
  padding-left: calc(38rem / 16);
}

.selectionBtn span {
  margin-left: 0.3125rem;
}
