.carouselWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin: calc(20rem / 16);
  background-color: #ffffff;
  border: calc(1rem / 16) solid #d9d9d9;
  border-radius: calc(3rem / 16);
  padding: calc(30rem / 16) calc(20rem / 16);
}

.carousel {
  display: flex;
  flex-direction: column;
  margin: 0rem calc(10rem / 16) calc(20rem / 16) calc(10rem / 16);
  width: 95%;
  overflow: auto;
}

.selectionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #033f85;
  border: none;
  background: none;
  font-weight: 400;
  font-size: calc(18rem / 16);
  line-height: calc(24rem / 16);
  text-decoration-line: underline;
  cursor: pointer;
  padding-left: calc(38rem / 16);
}

.selectionBtn span {
  margin-left: calc(5rem / 16);
}
