.buttonscontainer {
  display: flex;
  list-style: none;
  align-self: end;
  padding: 0;
  margin-right: 1.25rem;
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  background-color: #7da3c8;
  outline: unset;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin: 0.1875rem;
  cursor: pointer;
  transition: ease-out 200ms;
  offset: unset;
}
.bullet:hover,
.bullet:focus {
  border: 0.0625rem solid #033f85;
}

.active {
  background-color: #033f85;
}
.active:hover,
.active:focus {
  border: 0.0625rem solid #033f85;
}
