.buttonscontainer {
  display: flex;
  list-style: none;
  align-self: end;
  padding: 0;
  margin-right: calc(20rem / 16);
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  background-color: #7da3c8;
  outline: unset;
  width: calc(40rem / 16);
  height: calc(40rem / 16);
  border-radius: calc(4rem / 16);
  margin: calc(3rem / 16);
  cursor: pointer;
  transition: ease-out 200ms;
  offset: unset;
}
.bullet:hover,
.bullet:focus {
  border: calc(1rem / 16) solid #033f85;
}

.active {
  background-color: #033f85;
}
.active:hover,
.active:focus {
  border: calc(1rem / 16) solid #033f85;
}
