.resultBoxWrapper {
  position: relative;
  border-radius: 0.625rem;
  padding: 1.875rem 0 1.25rem 0;
}

.resultBoxTitleWrapper {
  padding: 1.875rem 1.25rem 1.875rem 1.25rem;
  text-align: left;
}

.resultBoxSelectionContent {
  width: auto;
  padding: 1.875rem 1.25rem 1.875rem 1.25rem;
  text-align: left;
}

.crossWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(21rem / 16);
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #033f85;
  overflow: hidden;
  cursor: pointer;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.horizontal {
  position: relative;
  left: 0.0625rem;
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
}

.vertical {
  position: relative;
  left: -0.5rem;
  top: 0;
  width: 0.125rem;
  height: 1rem;
  background-color: #fff;
}
