.resultBoxWrapper {
  position: relative;
  border-radius: calc(10rem / 16);
  padding: calc(30rem / 16) 0 calc(20rem / 16) 0;
}

.resultBoxTitleWrapper {
  padding: calc(30rem / 16) calc(20rem / 16) calc(30rem / 16) calc(20rem / 16);
  text-align: left;
}

.resultBoxSelectionContent {
  width: auto;
  padding: calc(30rem / 16) calc(20rem / 16) calc(30rem / 16) calc(20rem / 16);
  text-align: left;
}

.crossWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 21px;
  margin: auto;
  width: calc(40rem / 16);
  height: calc(40rem / 16);
  border-radius: 100%;
  background-color: #033f85;
  overflow: hidden;
  cursor: pointer;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.horizontal {
  position: relative;
  left: calc(1rem / 16);
  width: 1rem;
  height: calc(2rem / 16);
  background-color: #fff;
}

.vertical {
  position: relative;
  left: calc(-8rem / 16);
  top: 0;
  width: calc(2rem / 16);
  height: 1rem;
  background-color: #fff;
}
