# For bruk trenger man en NODE_AUTH_TOKEN i env / .env.local med read:packages rettigheter. 
# For publisering og oppdatering av pakken kreves write:packages og delete:packages.
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry (TODO: flytt til README.md)
@mong:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}