.main {
  width: 100%;
  background: none;
}

.headerMain {
  background-color: #ffe6b5;
}

.headerMain::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 24rem;
  background-color: #fff;
}

.pageImage {
  width: min(76rem, 95%);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  background: none;
  position: relative;
}

.pageImage::before,
.pageImage::after {
  content: "";
  display: table;
}

.pageImage img {
  margin: auto;
}

.pageTitle {
  width: 100%;
  padding-bottom: 0;
  font-size: calc(48rem / 16);
  font-weight: 600;
  line-height: calc(65rem / 16);
  text-align: center;
  background: none;
}

.pageIngressContent {
  width: 100%;
  background-color: #fdf6e4;
  font-size: calc(24rem / 16);
  margin: auto;
  text-align: center;
  line-height: 1.4em;
}

.pageIngress {
  background: none;
  margin: auto;
  width: min(76rem, 95%);
  padding: min(5%, calc(50rem / 16));
}

@media screen and (max-width: 700px) {
  .headerMain::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    min-height: calc(185rem / 16);
    background-color: #fff;
  }
  .pageTitle {
    width: 100%;
    padding-bottom: 0;
    font-size: calc(28rem / 16);
    font-weight: 600;
    line-height: calc(40rem / 16);
  }
  .pageIngressContent {
    font-size: 1rem;
    line-height: calc(25rem / 16);
  }
}
