.popUpBtn {
  display: flex;
  justify-content: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.popUpContentWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 999;
}

.popUpContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.125rem;
  box-shadow:
    0rem 0.125rem calc(1rem / 16) calc(-1rem / 16) rgba(0, 0, 0, 0.2),
    0rem calc(1rem / 16) calc(1rem / 16) 0rem rgba(0, 0, 0, 0.14),
    0rem calc(1rem / 16) 0.1875rem 0rem rgba(0, 0, 0, 0.12);
  overflow: auto;
}

.closeBtn {
  margin-top: 2.5rem;
  margin-right: 2.5rem;
  background-color: inherit;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-self: flex-end;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: rgb(228, 239, 249);
  color: #000;
}
.closeBtn svg {
  margin: auto;
  color: #000;
}
