.btn-container {
  display: flex;
  margin: 0.625rem;
}

.btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 0.3125rem;
  border-style: none;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.3125rem;
  vertical-align: middle;
  box-shadow:
    0rem calc(2rem / 16) calc(1rem / 16) calc(-1rem / 16) rgba(0, 0, 0, 0.2),
    0rem calc(1rem / 16) calc(1rem / 16) 0rem rgba(0, 0, 0, 0.14),
    0rem calc(1rem / 16) calc(3rem / 16) 0rem rgba(0, 0, 0, 0.12);
  transition: 200ms ease-in-out;
}

.btn-container button:hover,
.btn-container button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn-charttype {
  flex-direction: row-reverse;
  border-radius: calc(15rem / 16);
}

.btn-level {
  border-radius: calc(15rem / 16);
}

.btn-download,
.btn-close,
.btn-zoom {
  width: calc(35rem / 16);
  height: calc(35rem / 16);
  border: none;
  border-radius: 50%;
}
