.atlasContent {
  margin: auto;
  display: flex;
}

.atlasContent img {
  width: 80%;
}

.atlasContent h1 {
  line-height: 4rem;
}

.atlasContent p a,
.atlasContent a {
  color: #034584;
}

@media screen and (min-width: 60rem) {
  .atlasContent {
    width: min(95%, 76rem);
    margin: auto;
    padding: 1rem;
    display: flex;
    max-width: 76rem;
  }
  .main_content {
    flex: 1 1 auto;
    width: 0rem;
  }
}

@media screen and (min-width: 0) and (max-width: 60rem) {
  .atlasContent {
    flex-direction: column;
  }
}

@media screen and (min-width: 0) and (max-width: 52rem) {
  .main_content {
    width: 95%;
    margin: auto;
    padding: 1rem;
  }

  .atlasLinksWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
