.appContainer {
  box-sizing: border-box;
}

.appBody {
  width: 98%;
  max-width: 1500px;
  position: relative;
  top: 0rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.selectionContainer {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 3;
  /* box-shadow: 0 4px 5px -1px rgba(0, 38, 61, 0.25);*/
  position: -webkit-sticky;
}

.treatmentUnitSelection {
  flex: 3 3 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.treatmentUnitSelection form {
  flex: 8 1 20rem;
  margin: 0.4rem;
}

.yearSelection {
  flex: 1 1 0%;
}

.contentContainer {
  box-sizing: border-box;
  display: flex;
}
.mainTableContainer {
  box-sizing: border-box;
  flex: 4;
  padding: 0 1rem 0 0.5rem;
}

.medFieldContainer {
  box-sizing: border-box;
  flex: 1;
  padding: 0 0.5rem 0 1rem;
}

/******media upto 768*****/

@media All and (max-width: 768px) {
  .selectionContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .treatmentUnitSelection {
    display: flex;
  }
  .treatmentUnitSelection form {
    flex: 5;
  }
  .mainTableContainer {
    padding: 0 0.5rem;
  }
  .medFieldContainer {
    display: none;
  }
}

/******media  768 - 992*****/

@media All and (min-width: 769px) and (max-width: 992px) {
  .mainTableContainer {
    flex: 4;
    padding: 0 0.5rem;
  }

  .medFieldContainer {
    flex: 1;
    padding: 0 0.5rem;
  }
}
