html,
body {
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  color: #222;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  box-sizing: border-box;
  line-height: 1.4em;
  word-break: break-word;
  font-size: 2em;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 64px 0;
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
}
