.container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  width: 100%;
  min-width: 80vw;
  max-width: 60rem;
  margin-bottom: 64px;
  justify-content: center;
}
.article__title {
  width: 100%;
  display: flex;
  max-width: 60rem;
  /* flex-flow: row wrap; */
}
.article__ingress {
  width: 100%;
  padding: 32px 0;
  font-weight: bold;
  font-style: italic;
}
.article {
  width: 100%;
  align-self: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  max-width: 60rem;
}
.article__content {
  margin-block-start: 0;
  padding: 0 0 32px 0;
  padding-left: 0;
  margin: 0;
}

.article__image {
  width: 100%;
  justify-self: center;
}
