name: Deploy app to AWS
on:
  push:
    branches: [main, develop]
    paths-ignore:
      - "apps/api/**"
  pull_request:
    branches: [main, develop, dependency_updates]
    paths-ignore:
      - "apps/api/**"

jobs:
  deploy_to_S3:
    name: Deploy app to S3
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: "eu-west-1"
      NEXT_PUBLIC_SENTRY: "https://d48c58a239264c12bcbf8fe86d364c44@o489056.ingest.sentry.io/5799127"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3.5.1
        with:
          node-version: "16"
          cache: "yarn"
      - name: Build package
        run: yarn install && yarn run export
      - name: Sync main to S3 bucket skde.org
        if: github.ref == 'refs/heads/main'
        run: |
          aws s3 sync apps/skde/out s3://skde.org \
            --exclude "kvalitetsregistre/*" \
            --exclude "helseatlas/ia/*" --exclude "helseatlas/files/*" \
            --delete \
            --cache-control "public, max-age=1, s-maxage=1"
          aws s3 sync apps/skde/out s3://verify.skde.org \
            --exclude "kvalitetsregistre/*" \
            --exclude "helseatlas/ia/*" --exclude "helseatlas/files/*" \
            --delete \
            --cache-control "public, max-age=1, s-maxage=1"
      - name: Sync develop to S3 bucket qa.skde.org
        if: github.ref == 'refs/heads/develop'
        run: |
          aws s3 sync apps/skde/out s3://qa.skde.org \
            --exclude "kvalitetsregistre/*" \
            --exclude "helseatlas/ia/*" --exclude "helseatlas/files/*" \
            --delete \
            --cache-control "public, max-age=1, s-maxage=1"
