name: Deploy app to Azure
on:
  push:
    branches: [main, develop]
    paths-ignore:
      - "apps/api/**"
  pull_request:
    branches: [main, develop, dependency_updates]
    paths-ignore:
      - "apps/api/**"

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy_to_storage:
    name: Deploy app to Azure
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_FRONTDOOR_CREDENTIALS }}
          enable-AzPSSession: true
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Enable Corepack before setting up Node
        run: corepack enable
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "yarn"
      - run: corepack enable && yarn install
      - run: yarn run check-types
      - run: yarn run check-format
      - name: Test build
        env:
          NEXT_PUBLIC_API_HOST: https://prod-api.skde.org
        run: |
          yarn run export
      - name: Build and upload main branch version to Azure
        if: github.ref == 'refs/heads/main'
        env:
          NEXT_PUBLIC_API_HOST: https://prod-api.skde.org
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT_PROD }}
          AZURE_STORAGE_KEY: ${{ secrets.AZURE_STORAGE_KEY_PROD }}
        run: |
          yarn run export
          az storage blob sync \
            --account-name $AZURE_STORAGE_ACCOUNT \
            --account-key $AZURE_STORAGE_KEY \
            --container '$web' \
            --source ./apps/skde/out \
            --delete-destination true
      - name: Purge prod version from Azure Front Door
        if: github.ref == 'refs/heads/main'
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az afd endpoint purge \
              --resource-group rg-nettsider-felles \
              --profile-name interaktiveNettsiderFrontDoor \
              --endpoint-name prod \
              --domains apps.skde.no \
              --content-paths '/*' \
              --no-wait true
      - name: Build and upload verify version to Azure
        if: github.ref == 'refs/heads/main'
        env:
          NEXT_PUBLIC_VERIFY: "true"
          NEXT_PUBLIC_API_HOST: https://verify-api.skde.org
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT_VERIFY }}
          AZURE_STORAGE_KEY: ${{ secrets.AZURE_STORAGE_KEY_VERIFY }}
        run: |
          yarn run export
          az storage blob sync \
            --account-name $AZURE_STORAGE_ACCOUNT \
            --account-key $AZURE_STORAGE_KEY \
            --container '$web' \
            --source ./apps/skde/out \
            --delete-destination true
      - name: Purge verify version from Azure Front Door
        if: github.ref == 'refs/heads/main'
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az afd endpoint purge \
              --resource-group rg-nettsider-felles \
              --profile-name interaktiveNettsiderFrontDoor \
              --endpoint-name verify \
              --domains verify.skde.no \
              --content-paths '/*' \
              --no-wait true
            az afd endpoint purge \
              --resource-group rg-nettsider-felles \
              --profile-name interaktiveNettsiderFrontDoor \
              --endpoint-name verify \
              --domains verify.skde.org \
              --content-paths '/*' \
              --no-wait true
      - name: Upload develop version to Azure
        if: github.ref == 'refs/heads/develop'
        env:
          NEXT_PUBLIC_API_HOST: https://test-api.skde.org
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT_TEST }}
          AZURE_STORAGE_KEY: ${{ secrets.AZURE_STORAGE_KEY_TEST }}
        run: |
          yarn run export
          az storage blob sync \
            --account-name $AZURE_STORAGE_ACCOUNT \
            --account-key $AZURE_STORAGE_KEY \
            --container '$web' \
            --source ./apps/skde/out \
            --delete-destination true
      - name: Purge test version from Azure Front Door
        if: github.ref == 'refs/heads/develop'
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az afd endpoint purge \
              --resource-group rg-nettsider-felles \
              --profile-name interaktiveNettsiderFrontDoor \
              --endpoint-name test \
              --domains test.skde.no \
              --content-paths '/*' \
              --no-wait true
