name: Cypress

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Cypress testing
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_API_HOST: https://test-api.skde.org
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v5
      - name: Enable Corepack before setting up Node
        run: corepack enable
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: corepack enable && yarn install
      - run: yarn workspace skde run build
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./apps/skde
          build: yarn export
          start: yarn start-server
          browser: chrome
      - name: Archive production artifacts
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: cypress videos
          path: apps/skde/cypress/videos
          retention-days: 1
