name: Node.js CI

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop, dependency_updates]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_API_HOST: https://prod-api.skde.org
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - uses: actions/checkout@v6
      - name: Enable Corepack before setting up Node
        run: corepack enable
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: corepack enable && yarn install
      - run: yarn run check-types
      - run: yarn run check-format
      - run: yarn lint
      - run: yarn knip
      - run: yarn run test
      - name: Code coverage
        if: matrix.node-version == '20.x'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
